body {
    padding: 2em;
}


h1 {
    color: #9ACD32;
}

h2 {
    color: #654321;
}

hr {
    border: 1px solid #654321;
    width: 80%;
    margin: 30px auto;
}

img {
    border-radius: 20px;
}

pre {
    border: 1px solid #654321;
    box-shadow: 2px 2px 5px grey;
    padding: 1em;
    margin: 2em;
}

.card {
    margin: 20px;
    border: 1px solid #9ACD32;
}

.card-header {
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: #9ACD32;
}
